* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  transform: scale(-1, 1);
}
header p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.board .row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.board .row .cell {
  width: 4rem;
  height: 4rem;
  border: 2px solid #9b9b9b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  color: white;
}
.board .row .cell.unguessed {
  color: black;
  transform: scale(-1, 1);
}
.board .row .cell.guessed {
  color: black;
  transform: scale(-1, 1);
  transition: all 0.3s;
}
.board .row .cell.correct {
  background-color: #6aaa64;
  color: #fff;
  border: none;
}
.board .row .cell.present {
  background-color: #c9b458;
  color: #fff;
  border: none;
}
.board .row .cell.absent {
  background-color: #787c7e;
  color: #fff;
  border: none;
}

.letters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 100;
}
@media (max-width: 786px) {
  .letters {
    gap: 0.5rem;
  }
}
.letters .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 786px) {
  .letters .row {
    gap: 0.5rem;
  }
}
.letters .row .letter {
  width: 3rem;
  height: 4rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(-1, 1);
}
@media (max-width: 786px) {
  .letters .row .letter {
    width: 1.75rem;
    height: 3rem;
    font-size: 0.8rem;
  }
}
.letters .row .letter.correct {
  background-color: #6aaa64 !important;
  color: #fff;
  border: none;
}
.letters .row .letter.present {
  background-color: #c9b458;
  color: #fff;
  border: none;
}
.letters .row .letter.absent {
  background-color: #787c7e;
  color: #fff;
  border: none;
}
.letters .row #backspace {
  width: 5rem;
}
@media (max-width: 786px) {
  .letters .row #backspace {
    width: 3rem;
  }
}
.letters .row #backspace svg {
  transform: scale(-1, 1);
  width: 50%;
}
.letters .row #enter {
  width: 5rem;
}
@media (max-width: 786px) {
  .letters .row #enter {
    width: 3.5rem;
  }
}

.toast {
  background: black !important;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border-radius: 5px !important;
  transform: scale(-1, 1) !important;
}

footer {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
}
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}
footer a:hover {
  color: #f00;
}/*# sourceMappingURL=index.css.map */